
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <h1 class="product_taital">Our Products</h1>
    </div>
    @Html.Action("menucategory", "Menu")
</div>
<div class="product_section_2 layout_padding">
    @Html.Action("Partial_Product", "Products")
</div>
<!-- about section start -->

<!-- customer section start -->
<div class="customer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="customer_taital">Ngày may mắn của bạn</h1>
            </div>
        </div>
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_section_2">
                        <div class="client_main">
                            <div class="client_left">
                                <div class="client_img"><img src="~/Content/images/sky11.png"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="name_text">Vòng quay may mắn</h3>
                                <p class="dolor_text">888 Tài khoản giá trị từ 600.000VNĐ - 2.100.000VNĐ đang chờ bạn</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2">
                        <div class="client_main">
                            <div class="client_left">
                                <div class="client_img"><img  src="~/Content/images/ruong.png"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="name_text">Mở rương bí mật</h3>
                                <p class="dolor_text">Cơ hội nhận được tài khoản PUBG-Mobile VIP trị giá từ 900.000VNĐ </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2">
                        <div class="client_main">
                            <div class="client_left">
                                <div class="client_img"><img src="~/Content/images/random-pubg.png"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="name_text">Thử vận may</h3>
                                <p class="dolor_text">Hàng ngàn tài khoản tốt đang chờ bạn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- customer section end -->
 @*contact section start 
<div class="contact_section layout_padding">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6">
                <h1 class="contact_taital">Get In Touch</h1>
                <p class="contact_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  eu </p>
            </div>
            <div class="col-md-6">
                <div class="contact_main">
                    <div class="contact_bt"><a href="#">Contact Form</a></div>
                    <div class="newletter_bt"><a href="#">Newletter</a></div>
                </div>
            </div>
        </div>
    </div>

</div>
 contact section end*@ 
