

<div class="carousel-item active">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="banner_taital">Sale <br>35%</h1>
                <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                <div class="read_bt"><a href="#">Xem ngay</a></div>
            </div>
            <div class="col-sm-6">
                <div class="banner_img"><img src="~/Content/images/ys.png"></div>
            </div>
        </div>
    </div>
</div>
<div class="carousel-item">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="banner_taital">Top <br>Người nạp</h1>
                <p class="banner_text">1: Phạm Quang Trường</p>
                <p class="banner_text">1: Trường Đẹp Trai</p>
                <p class="banner_text">1: Trường Pro</p>
                <div class="read_bt"><a href="#">Buy Now</a></div>
            </div>
            <div class="col-sm-6">
                <div class="banner_img"><img src="~/Content/images/support-d63ae08baf517425864ddc02.png"></div>
            </div>
        </div>
    </div>
</div>
<div class="carousel-item">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="banner_taital">Beauty <br>Kit</h1>
                <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                <div class="read_bt"><a href="#">Buy Now</a></div>
            </div>
            <div class="col-sm-6">
                <div class="banner_img"><img src="~/Content/images/jinx.png"></div>
            </div>
        </div>
    </div>
</div>
<div class="carousel-item">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="banner_taital">Beauty <br>Kit</h1>
                <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                <div class="read_bt"><a href="#">Buy Now</a></div>
            </div>
            <div class="col-sm-6">
                <div class="banner_img"><img src="~/Content/images/lux.png"></div>
            </div>
        </div>
    </div>
</div>
